
body{
    background-image: url(./images/the-witcher-stairs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.navbar-brand{
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    width: 25%;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-light .navbar-brand{
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
}

.navbar-nav{
    text-align: center;
}

.nav-link{
    padding: .2rem 1rem;
}

.nav-link.active, .nav-link:focus{
    color: #fff !important;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 900!important;
}

.custom-arial {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 16rem !important;
}

p{
    margin: auto;
    font-size: 12px;
    line-height: 1.9;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

p .judul{
    margin-left: 50%;
}

.col{
    max-width: 41.666667%;
}

.btn-watch{
    border-color: white;
    border-radius: 5%!important;
}

.btn-play{
    background-color: red;
}

.slider {
        width: 105%;
        margin: 100px;
    }

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

.card-content{
    background: rgba(0, 0, 255, 0);   
}